.conteudo {
    position: fixed;
    height: 535px;
    width: 1180px;
    margin-left: 120px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 32px;
    transition: 0.5s;
}

.conteudo.active {
    width: 970px;
    margin-left: 330px;
}

